<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @user.first_name %>!</h1>

    <p>
      You are the newest member to Shoppu, an up-and-coming web-based,
      multi-device app that provides a platform for connecting users and personal shoppers.<br>
    </p>

    <p>
      To login to the site, just follow this link: http://shoppuapp.herokuapp.com/
    </p>

    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>
