<br>
<%= provide(:title, 'New Order') %>
<br>
<div class= "input_section">
	<h1 class="order_request_title" style="margin-top:30px; margin-bottom:30px">New Order</h1>
	<div class="forms">
		<%= render 'form' %>
	</div>
	<div class="links">
		<%= link_to 'Back to orders', order_requests_path %> | <%= link_to 'Back to profile', user_path(current_user) %>
	</div>
</div>
