<% provide(:title, "Home") %>
	<!-- <h1>    Make your shopping personal</h1> -->


	<header id="top" class="header">
			 <div class="text-vertical-center">

				 <!--Styling css is in custom.css.scss -->

				 <div class="home-title-box">
					 <h1 style = "font-size: 700%; color:#ffffff; letter-spacing:10px" id = "big_title">SHOPPU</h1>
					 <h4 style = color:#ffffff; >Make Your Shopping Personal</h4>
					 <br>
					 <a href="#services" class="btn btn-dark btn-lg">Find Out More</a>
					 <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-light" %>
				 </div>
			 </div>
	 </header>

	 <!-- About -->
	 <section id="about" class="about">
			 <div class="container">
					 <div class="row">
							 <div class="col-lg-12 text-center">
									 <h2 style="color: #2d3033; font-weight:bold;">What is Shoppu?</h2>
									 <p class="lead" style="font-style:italic">Shoppu is a web-based, multi-device app that provides a platform for connecting users and personal shoppers.</p>
							 </div>
					 </div>
					 <!-- /.row -->
			 </div>
			 <!-- /.container -->
	 </section>


	 <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2 style="color: white;">How does it work?</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
															<span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>

                                <h4 style="letter-spacing: -1px;">
                                    <strong>Users</strong>
                                </h4>
                                <p>Users serve as both Customers and Shoppers</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
													<div class="service-item">
														<span class="fa-stack fa-4x">
															<i class="fa fa-circle fa-stack-2x"></i>
															<i class="fa fa-th-list fa-stack-1x text-primary"></i>
													</span>
															<h4 style="letter-spacing: -1px;">
																	<strong>Customers</strong>
															</h4>
															<p>Customers create shopping lists and post them with a bounty</p>
													</div>
                        </div>
                        <div class="col-md-3 col-sm-6">
													<div class="service-item">
															<span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shopping-cart fa-stack-1x text-primary"></i>
                            </span>
															<h4 style="letter-spacing: -1px;">
																	<strong>Shoppers</strong>
															</h4>
															<p>Shoppers view the shopping list online, and can pick up and deliver the order</p>
													</div>
                        </div>
                        <div class="col-md-3 col-sm-6">
													<div class="service-item">
														<span class="fa-stack fa-4x">
															<i class="fa fa-circle fa-stack-2x"></i>
															<i class="fa fa-usd fa-stack-1x text-primary"></i>
													</span>
															<h4 style="letter-spacing: -1px;">
																	<strong>Mutual Benefit</strong>
															</h4>
															<p>Shoppers earn bounties while Customers save time and effort</p>
													</div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


	<div class="center jumbotron" id ="home_section2">
		<div class ="container">
			<div style = "color: #2d3033"; class ="center jumbotron" id ="home_inner_section">
				<h1 style="font-weight:bold; letter-spacing:0.05em">And ...</h1>
				<br>
				<p style="font-style:italic; letter-spacing:0.09em">It's that simple!</p>
				<!-- <br> -->
				<%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-light", style: "color: #fff;background-color: #0aa0d9;" %>
			</div>



		</div>
	</div>


	<!-- Map -->


    <div style= "margin-top:-30px; "id="directions" >
    </div>
		<script type="text/javascript">
			handler = Gmaps.build('Google');
			handler.buildMap({ provider: {}, internal: {id: 'directions'}}, function(){
				markers = handler.addMarkers([
						{
							"lat": 49.278143,
							"lng": -122.919712,

							"infowindow": "Simon Fraser University"
						}
				]);
				handler.bounds.extendWith(markers);
				handler.fitMapToBounds();
				handler.getMap().setZoom(15);
			});
		</script>
